
.row{
    display: flex;
    gap: 20px;
}

.cajaE{
    padding: 10px;
    border: 3px solid #88baff;
    background-color: #edeef1 ;
    width: 100vh;
    color: black;
    border-radius: 5px;
}


.opciones{
    padding: 20px;
}

.box-opc{
    text-decoration: none;
    width: 100vh;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 3px solid #88baff;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    color: black;
}

.box-opc:hover{
    transform: scale(1.05);
}

table, th{
  border: 1px solid;
  text-align: left;
}

table {
  width: 50%;
  border-collapse: collapse;
}

.tabla-resultados th{
  padding: 5px;
  background-color: #6cccff;
}

td{
  border: 1px solid;
  padding: 10px ;
}

.titulo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}