.information-container{
    flex-direction: initial;
    justify-content: space-around;
    align-items: flex-start;
    
}

.info-izquierda{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60vh;
}


.info-derecha{
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px; 
    height: 60vh;
}

.info-izquierda img{
    max-width: 100%;
    width: 300px;
    background-color: transparent;
}

.imagen_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.imagen_info figure{
    padding: 20px;
}

.descripcion {
    width: calc(100% - 40px); /* Resta el padding del ancho total */
    padding: 20px;
    margin-bottom: 30px;
}

.descripcion h2{
    display: inline-block;
    margin: 0px 0px 15px 0px;
}

.descripcion p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

.descripcion h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.fila{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.filaEditar{
    justify-content: space-between;
}

.filaEditar > div{
    flex: 1; /* Asigna un ancho igual a todos los divs dentro de la fila */
    margin-right: 10px; /* Espacio entre los divs, ajusta según necesites */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}

.codigo_qr{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 10%;
}

.codigo_qr input{
    padding: 10px 20px;
    background-color: #22bb14; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    height: 20%;
    width: 50%;
}

.codigo_qr input:hover{
    background-color: #1ca110; 
}

.btn_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.btn_img a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;  
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    padding: 5px 10px;
}



.rowEditar{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    justify-content: space-around;
}

.text{
    display: flex;
    justify-content: space-between;
}

textarea{
    width: 100%;
    min-height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 16px; 
    line-height: 1.6;
    padding-top: 15px;
    margin: 0;

}

textarea:focus{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.volver{
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
    justify-content: center;
}

.volver a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.home .info{
    display: inline-block;
}


.vencimiento i{
    display: flex;
    align-items: center;
}

.vencimiento{
    color: #ff0000;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5px;
}

.aviso {
    text-decoration: none;
}
